In [46]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

list_data = [1,2,3,4,5]
list_name = ['a','b','c','d','e']
obj = Series(data = list_data, index = list_name)
obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [47]:
obj.values

array([1, 2, 3, 4, 5])

In [48]:
obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [49]:
obj[1]

2

In [50]:
obj['a']

1

In [51]:
dict_data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
obj2 = Series(dict_data, name = 'obj2')
obj2

a    1
b    2
c    3
d    4
e    5
Name: obj2, dtype: int64

In [52]:
indexs = ['a','b','c','d','e','f','g']
obj3 = Series(data=dict_data, index=indexs) # 인덱스 기준으로 생성되어 데이터 값이 없으면 NaN 출력
obj3

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
dtype: float64

In [53]:
from pandas import Series, DataFrame

raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73],
            'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [54]:
DataFrame(raw_data, columns = ['age','city','debt'])

   age           city debt
0   42  San Francisco  NaN
1   52      Baltimore  NaN
2   36          Miami  NaN
3   24        Douglas  NaN
4   73         Boston  NaN

In [55]:
df['age'] # 열 이름 하나면 시리즈 결과

0    42
1    52
2    36
3    24
4    73
Name: age, dtype: int64

In [56]:
df[['age','city']] # 열이름 2개 이상은 리스트로, 데이터 프레임 결과

   age           city
0   42  San Francisco
1   52      Baltimore
2   36          Miami
3   24        Douglas
4   73         Boston

In [57]:
df[:3] # 행 슬라이싱

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami

In [58]:
df['age'][:2] # 열 이름으로, 행번호로 동시에 슬라이싱

0    42
1    52
Name: age, dtype: int64

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  5 non-null      object
 1   last_name   5 non-null      object
 2   age         5 non-null      int64
 3   city        5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

In [60]:
df.describe()

             age
count   5.000000
mean   45.400000
std    18.460769
min    24.000000
25%    36.000000
50%    42.000000
75%    52.000000
max    73.000000

In [61]:
df_food = df.insert(1,'foods','food')
df_food

In [62]:
df.loc[3:, ['age']] # 슬라이싱으로 추출할 땐 괄호 X

   age
3   24
4   73

In [63]:
df.iloc[:2,:2] # iloc은 인덱스 번호로 추출

  first_name foods
0      Jason  food
1      Molly  food

In [64]:
df_new = df
df_new.drop(1) # drop(인덱스 번호, inplace=True 가능)

  first_name foods last_name  age           city
0      Jason  food    Miller   42  San Francisco
2       Tina  food       Ali   36          Miami
3       Jake  food    Milner   24        Douglas
4        Amy  food     Cooze   73         Boston

In [65]:
df_new.drop('age', axis=1) #열 삭제는 열이름 쓰고 axis로 축 지정

  first_name foods last_name           city
0      Jason  food    Miller  San Francisco
1      Molly  food  Jacobson      Baltimore
2       Tina  food       Ali          Miami
3       Jake  food    Milner        Douglas
4        Amy  food     Cooze         Boston

In [66]:
import pandas as pd # pandas 모듈 호출
import numpy as np # numpy 모듈 호출
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings','kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
            'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
            'Year': [2014, 2015, 2014, 2015, 2014, 2015, 2016, 2017, 2016, 2014, 2015, 2017],
            'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [67]:
df1 = pd.DataFrame(np.arange(25).reshape(5,5), columns = list('abcde'))
df2 = pd.DataFrame(np.arange(16).reshape(4,4), columns = list('abcd'))

df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3  27.0  29.0  31.0  33.0 NaN
4   NaN   NaN   NaN   NaN NaN

In [68]:
df1 = pd.DataFrame(np.arange(16).reshape(4,4))
df2 = pd.DataFrame(np.eye(N=4, M=4))

df1.dot(df2)

      0     1     2     3
0   0.0   1.0   2.0   3.0
1   4.0   5.0   6.0   7.0
2   8.0   9.0  10.0  11.0
3  12.0  13.0  14.0  15.0

In [69]:
df.groupby('Team')['Points'].sum()

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [70]:
df.groupby(['Team','Year'])['Points'].sum() # 멀티그룹바이

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
kings   2015    812
Name: Points, dtype: int64

In [71]:
df.groupby('Team')['Points'].sum()[2:4] # 슬라이싱 하려면

Team
Riders    3049
Royals    1505
Name: Points, dtype: int64

In [72]:
multi_groupby = df.groupby(['Team','Year'])['Points'].sum()
multi_groupby.unstack()

Year     2014   2015   2016   2017
Team
Devils  863.0  673.0    NaN    NaN
Kings   741.0    NaN  756.0  788.0
Riders  876.0  789.0  694.0  690.0
Royals  701.0  804.0    NaN    NaN
kings     NaN  812.0    NaN    NaN

In [73]:
multi_groupby.swaplevel() # swaplevel() : 기준 열 두개 자리 바꾸기

Year  Team
2014  Devils    863
2015  Devils    673
2014  Kings     741
2016  Kings     756
2017  Kings     788
2014  Riders    876
2015  Riders    789
2016  Riders    694
2017  Riders    690
2014  Royals    701
2015  Royals    804
      kings     812
Name: Points, dtype: int64

In [74]:
multi_groupby.swaplevel().sort_index() # sort_index() : 첫 번째 온 레벨 기준으로 정렬

Year  Team
2014  Devils    863
      Kings     741
      Riders    876
      Royals    701
2015  Devils    673
      Riders    789
      Royals    804
      kings     812
2016  Kings     756
      Riders    694
2017  Kings     788
      Riders    690
Name: Points, dtype: int64

In [75]:
multi_groupby

Team    Year
Devils  2014    863
        2015    673
Kings   2014    741
        2016    756
        2017    788
Riders  2014    876
        2015    789
        2016    694
        2017    690
Royals  2014    701
        2015    804
kings   2015    812
Name: Points, dtype: int64

In [76]:
multi_groupby.sum(level=0) # 첫번째 level(0부터 시작) 기준으로 합계

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

In [77]:
grouped = df.groupby('Team') # Team을 기준으로 묶기만
grouped.get_group('Riders') # 묶은 중 Riders 값만 반환

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690

In [78]:
# agg() : 통계 함수

grouped.agg(min) # 묶은 기준('Team') 으로 숫자 값들에 대해 최솟값 반환.

        Rank  Year  Points
Team
Devils     2  2014     673
Kings      1  2014     741
Riders     1  2014     690
Royals     1  2014     701
kings      4  2015     812

In [79]:
grouped.agg(np.mean) # 평균

            Rank         Year      Points
Team
Devils  2.500000  2014.500000  768.000000
Kings   1.666667  2015.666667  761.666667
Riders  1.750000  2015.500000  762.250000
Royals  2.500000  2014.500000  752.500000
kings   4.000000  2015.000000  812.000000

In [80]:
# transform() : 변환 함수

grouped.transform(max) # 묶은 기준에 따라 각 데이터의 최댓값으로 전부 반환

    Rank  Year  Points
0      2  2017     876
1      2  2017     876
2      3  2015     863
3      3  2015     863
4      3  2017     788
5      4  2015     812
6      3  2017     788
7      3  2017     788
8      2  2017     876
9      4  2015     804
10     4  2015     804
11     2  2017     876

In [81]:
# filter() : 특정 조건 만족하는 데이터 검색

df.groupby('Team').filter(lambda x:len(x) >= 3) # 갯수가 3개 이상인 데이터만 필터링

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

In [82]:
df.groupby('Team').filter(lambda x:x['Points'].max() > 800) 
# 팀을 기준으로 묶은 데이터에서 포인트 최댓값이 800을 넘는 팀만 추출하는데 Kings를 제외하고는 전부 최댓값이 800이상임

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
5    kings     4  2015     812
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [83]:
import pandas as pd # pandas 모듈 호출
raw_data = { 'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
             'test_score': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_left = pd.DataFrame(raw_data, columns = ['subject_id', 'test_score'])
df_left

  subject_id  test_score
0          1          51
1          2          15
2          3          15
3          4          61
4          5          16
5          7          14
6          8          15
7          9           1
8         10          61
9         11          16

In [84]:
raw_data = {
    'subject_id': ['4', '5', '6', '7', '8'],
    'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_right = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_right

  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [85]:
# merge() : 조인 함수
# left = 왼쪽에 놓을 데이터
# right = 오른쪽에 놓을 데이터
# how = 'inner' : 내부조인 --> 모두 존재하는 열 만 
#       'outer' : 외부조인 --> 모든 여
#       'left' : 왼쪽조인 --> 왼쪽 데이터에 있는 열 기주
#       'right' : 오른쪽조인 --> 오른쪽 데이터에 있는 열 기준
# on = 병합의 기준이 되는 열
# left_on, right_on = 두 데이터의 합칠 열이름이 다를 때

pd.merge(left=df_left, right=df_right, how='inner', on='subject_id')

  subject_id  test_score first_name last_name
0          4          61      Billy    Bonder
1          5          16      Brian     Black
2          7          14      Bryce     Brice
3          8          15      Betty    Btisan

In [86]:
import numpy as np

A = np.array([8,1,2,2,3,4,5,6,7,8])
Z = (A - np.mean(A, axis=0))/(np.std(A))
Z

array([ 1.38344038, -1.46481923, -1.057925  , -1.057925  , -0.65103077,
       -0.24413654,  0.16275769,  0.56965192,  0.97654615,  1.38344038])

In [87]:
sum(A)

46

In [88]:
np.exp(A)

array([2.98095799e+03, 2.71828183e+00, 7.38905610e+00, 7.38905610e+00,
       2.00855369e+01, 5.45981500e+01, 1.48413159e+02, 4.03428793e+02,
       1.09663316e+03, 2.98095799e+03])

In [89]:
np.sum(np.exp(A))

7702.571166089879

In [90]:
sum(np.exp(A))

7702.571166089879

In [91]:
arr = np.arange(16).reshape(4,4)
arr.ndim

2

In [92]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [93]:
def find_nearest_value(X, target_value):
  result = X[np.argmin(np.abs(X - target_value))]
  return result

In [94]:
find_nearest_value(np.array([1,2,3,4,5,6,7]), 4.3)

4

In [95]:
Z = np.array([6,6,6,4,7,9,1,8,8,4])
Z.argsort()

array([6, 3, 9, 0, 1, 2, 4, 7, 8, 5])

In [96]:
Z.argsort()[:5]

array([6, 3, 9, 0, 1])

In [97]:
Z[Z.argsort()[:5]]

array([1, 4, 4, 6, 6])

In [98]:
Z[Z.argsort()[:5]] = 0

In [99]:
Z

array([0, 0, 6, 0, 7, 9, 0, 8, 8, 0])